<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @component.data %>
</p>

<p>
  <strong>Position:</strong>
  <%= @component.position %>
</p>

<p>
  <strong>Site:</strong>
  <%= @component.site %>
</p>

<%= link_to 'Edit', edit_component_path(@component) %> |
<%= link_to 'Back', components_path %>
