<%= javascript_include_tag 'ratyrate.js', "data-turbolinks-track" => false %>

<div style="margin: auto" class="row">
  <div class="small-2 large-4 columns">
      <%= t('.text') %><%= rating_for @site, "text"%>
      <br>
      <%= t('.video') %><%= rating_for @site, "video"%>
      <br>
      <%= t('.gallery') %><%= rating_for @site, "gallery"%>
  </div>
</div>
	
      