<!DOCTYPE html>
<html>
<head>
  <title>iSite</title>
  <%= stylesheet_link_tag    "application", media: "all",
    "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
  <div id="banner">
    <%= @page_title || "iSite" %>
  </div>
  <div id="columns">
    <div id="side">
      <ul>
        <li><%= link_to 'Home', catalog_path %></li><br/>
        <li><%= link_to 'Sites', sites_path %></li>
        <li><%= link_to 'Components', components_path %></li>
      </ul>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>